@import "tailwindcss";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #000000;
  color: #ffffff;
  overflow-x: hidden;
}

.bg-gallery {
  background: linear-gradient(to bottom,
      #252237,
      #1e1e2e);
}

.delay-0 {
  transition-delay: 0ms;
}

.delay-200 {
  transition-delay: 200ms;
}

.delay-400 {
  transition-delay: 400ms;
}

.delay-600 {
  transition-delay: 600ms;
};

/* .bg-global {
  background-image:
    linear-gradient(to bottom,
      rgba(15, 16, 33, 0.3),
      rgba(15, 16, 33, 0.5)),
    url("../assets/images/jelek2x.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */